@media only screen and (max-width: 800px) {
    .header_nav {
        display: none;
    }  

    .Menu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .menu_drop {
        position: absolute;
        top: 45px;
        right: 0;
        
    }
    
    .menu_drop ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    }
     
    .menu_drop li {
        list-style: none;
        background-color: black;
        padding: 10px;
    }
     
    .menu_drop a {
        margin: auto;
        text-decoration: none;
        color: white;
        
    }
     
    .menu_drop ul a:hover {
        color: gray;
    }

    .underground blockquote {
        width: 144px;
    }
    .underground iframe {
        min-width: 160px;
        width: 260px;
        border-radius: 10px;
    }
}