body {
    background-color: #5b619f;
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: auto;
    padding: auto;
    display: block;
}
  
header {
    display: flex;
    background: black;
    color: white;
}

#icon_rudwolf {
    width: 128px;
    float: inline-start;
}

.header_nav {
    position: absolute;
    right: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
}
 
.header_nav li {
    list-style: none;
    display: inline-flex;
}
 
.header_nav a {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
 
.header_nav ul a:hover {
    color: gray;
}

.Menu {
    display: none;
}

.menu_drop {
    display: none;
}

.perfil {
    background-position: center;
    background-image: url("https://rudwolf12.github.io/Rudwolf-s_WebSite/images/placeholders/a.png");
    padding: 50px;
    font-size: x-large;
}

#Perfil {
    width: 256px;
}

.info {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.icon_project {
    width: 50px;
}

footer {
    position: absolute;
    background-color: #000000;
    margin: auto;
    padding: auto;
    width: 100%;
    color: white;
}

.footer_main img {
    width: 50px;
    margin: 5px 5px 0 5px;
}
