body {
    background-color: #5b619f;
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: auto;
    padding: auto;
    display: block;
}
  
header {
    display: flex;
    background: black;
    color: white;
}

#icon_rudwolf {
    width: 128px;
    float: inline-start;
}

.header_nav {
    position: absolute;
    right: 0;
}

.header_nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    
}
 
.header_nav li {
    list-style: none;
    display: inline-flex;
}
 
.header_nav a {
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
 
.header_nav ul a:hover {
    color: gray;
}

.Menu {
    display: none;
}

.menu_drop {
    display: none;
}

.perfil {
    background-position: center;
    background-image: url("https://rudwolf12.github.io/Rudwolf-s_WebSite/images/placeholders/a.png");
    padding: 50px;
    font-size: x-large;
}

#Perfil {
    width: 256px;
}

.info {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.icon_project {
    width: 50px;
}

footer {
    position: absolute;
    background-color: #000000;
    margin: auto;
    padding: auto;
    width: 100%;
    color: white;
}

.footer_main img {
    width: 50px;
    margin: 5px 5px 0 5px;
}

input:valid {
    background: right/contain content-box border-box no-repeat url("./../images/icons/Google fonts/check.svg") whitesmoke;
    color: rgb(40, 40, 40);
}

input:invalid {
    background: right/contain content-box border-box no-repeat url("./../images/icons/Google fonts/close.svg") white;
}

.foreground {
    margin: 0;
  padding: 0.3rem;
  background-color: #9a9ec66d;
}

.foreground > h1,
.underground {
  margin: 0.5rem;
  padding: 0.3rem;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

.underground > h2,
.underground > p {
  margin: 0.2rem;
  font-size: 1rem;
}

.underground blockquote {
    width: 250px;
    margin: 25px;
    border-radius: 10px;
}

.datos {
    display: none;
}
#datos {
    display: none;
    border-collapse: collapse;
}

#datos img {
    width: 50px;
}

table, td, th {
    border: 2px #000000 solid;
    padding: 20px;
}

#Social_media {
    display: none;

}

#Social_media img {
    width: 200px;
}

.btnContacto {
    padding: 0;
    width: 100px;
    height: 50px;
}

#form {
    display: none;
    padding: auto;
    margin: auto;
}

.field {
    margin-bottom: 10px;
}

.field #file {
    display: none;
}
  
.field label {
    display: block;
    float: inline-start;
    color: #000000;
    width: 100px;
}
  
.field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
}
  
input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #4460AA;
    color: #fff;
    border: none
}

main div {
    padding-bottom: 2em;
}